extends layout

block content
  h1= title
  p Welcome to the #{title} for: Xylophones.

  -
    var results = [
      { material: 'Rosewood', keys: 32, tuning: 'Chromatic' },
      { material: 'Aluminum', keys: 25, tuning: 'Diatonic' },
      { material: 'Padauk', keys: 37, tuning: 'Pentatonic' }
    ];

  div.container-fluid
    div.row
      each xylophone, index in results
        div.col-sm-2(onclick=`buy(${index})` style="cursor: pointer; border: 1px solid #ddd; padding: 10px; margin: 5px;")
          p Material: #{xylophone.material}
          p Number of Keys: #{xylophone.keys}
          p Tuning: #{xylophone.tuning}

  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }